.vue-resize-container {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .vue-resize-container__container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .vue-resize-container__section {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .vue-resize-container__resizer {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
  }

  &.is-resizing {
    user-select: none;
  }
}

/*******************************
 *HORIZONTAL FROM LEFT TO RIGHT
********************************/
.vue-resize-container[data-direction="horizontal"] {
  .vue-resize-container__container {
    flex-direction: row;
  }

  .vue-resize-container__resizer {
    width: var(--vue-rc-resizer-size);
    height: 100%;
  }

  .vue-resize-container-resizer__inner {
    cursor: col-resize;
    transition-property: width;
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-origin="alpha"] {
    .vue-resize-container-buttons {
      top: var(--vue-rc-buttons-offset);
      left: 100%;
      transition: left var(--vue-rc-resizer-transition-duration);
      flex-direction: column;

      .vue-resize-container-buttons__button {
        &[data-action="expand"] {
          border-top-right-radius: 4px;
        }

        &[data-action="collapse"] {
          border-bottom-right-radius: 4px;
        }
      }
    }

    &.is-resizer-hover {
      .vue-resize-container-resizer__inner {
        width: var(--vue-rc-resizer-size-hover);
      }
    }
  }

  &.is-expanded {
    &[data-origin="alpha"] {
      .vue-resize-container-buttons {
        left: unset;
        right: 100%;
        transition: right var(--vue-rc-resizer-transition-duration);

        .vue-resize-container-buttons__button {
          &[data-action="expand"] {

          }
        }

        .vue-resize-container-buttons__button {
          &[data-action="collapse"] {

          }
        }
      }
    }
  }

}



